body {
    background-color: rgb(33,33,33);
}

h1 {
    color: white;
    padding: 14px 0 5px 0;
    text-shadow: 3px 3px black;
}

/* ABOUT US STAFF SECTION */
.staff {
    width: 650px;
    margin: auto;
}
.staff-owner {
    margin: auto;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: rgb(15,15,15);
    border: 5px solid black;
    box-shadow: 5px 5px 10px black;
}

.staff-owner h2 {
    color:crimson;
    padding: 5px;
    background-color:#d5a400;
    border-radius: 10px;
    text-shadow: 3px 3px black;
    border-bottom: 5px solid black;
}

h3 {
    padding: 20px 0 10px 0;
    color: white;
}

h4 {
    padding: 10px 0 10px 0;
}

a {
    color: plum;
    text-decoration: none;
    word-wrap: break-word;
}

.staff-admin {
    margin: 10px auto;
    padding-bottom: 5px;
    border-radius: 15px;
    background-color: rgb(15,15,15);
    border: 5px solid black;
    box-shadow: 5px 5px 10px black;
}

.staff-admin h2 {
    color:cyan;
    padding: 5px;
    background-color: #d5a400;
    border-radius: 10px;
    text-shadow: 3px 3px black;
    border-bottom: 5px solid black;
}

hr {
    width: 90%;
    margin: 10px auto;
    border-width: 2px;
    border-radius: 15px;
    border-color: black;
}

@media(max-width: 750px) {
    .staff {
        width: 90%;
    }
}