body {
    background-color: rgb(33,33,33);
}

.rules {
    margin: 30px auto;
    width: fit-content;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: rgb(15,15,15);
    text-align: left;
    border: 5px solid black;
    box-shadow: 5px 5px 10px black;
}

.rules h1 {
    padding: 10px;
    background-color:#d5a400;
    border-radius: 10px;
    border-bottom: 5px solid black;
    color:crimson;
    text-shadow: 3px 3px black;
}

.rules ol {
    padding: 10px;
}

.rules-list li {
    list-style-position: inside;
    color: white;
    padding: 5px;
}

@media(max-width: 1000px) {
    .rules {
        width: 90%;
    }
}