body {
    background-color: rgb(33,33,33);
}

h1 {
    color: white;
}

.support {
    display:inline-flex;
    gap: 35px;
}

.support-item {
    border-radius: 15px 15px 17px 17px;
    background-color: #d5a400;
    box-shadow: 5px 5px 10px black;
}

#customer-support-img {
    width: 150px;
    height: 125px;
    margin: 40px 50px 26px 50px;
    width: 150px;
}

#report-img {
    width: 146px;
    height: 146px;
    margin: 30px 52px 15px 52px;
}

#appeal-img {
    width: 96px;
    height: 125px;
    margin: 40px 77px 26px 77px;
}

.support-bottom {
    background-color: rgb(15,15,15);
    border-radius: 15px;
    border: none;
}

.support-bottom p {
    color: white;
    padding: 20px;
}

.support-bottom button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #d5a400;
    box-shadow: 5px 5px 10px black;
}

@media(max-width: 830px) {
    .support {
        display: inline-block;
    }

    .support-item {
        margin-bottom: 35px;
    }
}