body {
    background-color: rgb(33,33,33);
}

h1 {
    color: white;
}

.support {
    display:inline-flex;
    gap: 35px;
}

.support-item {
    width: 310px;
    background-color: #d5a400;
    border: 5px solid black;
    overflow: hidden;
    background-clip:padding-box;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
}

#customer-support-img {
    width: 150px;
    height: 125px;
    margin: 40px 50px 26px 50px;
    width: 150px;
}

#report-img {
    width: 146px;
    height: 146px;
    margin: 30px 52px 15px 52px;
}

#appeal-img {
    width: 96px;
    height: 125px;
    margin: 40px 77px 26px 77px;
}

.support-bottom {
    background-color: rgb(15,15,15);
    border-top: 5px solid black;
    height: 150px;
}

.support-bottom p {
    color: white;
    padding: 20px;
}

.support-bottom button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 5px solid black;
    border-radius: 15px;
    margin-bottom: 25px;
    background-color: #d5a400;
    font-size: 15px;
    font-weight: bold;
}

@media(max-width: 830px) {
    .support {
        display: inline-block;
    }

    .support-item {
        margin-bottom: 35px;
    }
}