.support {
    display:inline-flex;
    gap: 30px;
}

.support-item {
    border-radius: 15px;
    background-color: #d5a400;
}

#customer-support-img {
    width: 150px;
    height: 125px;
    margin: 40px 50px 26px 50px;
    width: 150px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

#report-img {
    width: 146px;
    height: 146px;
    margin: 30px 52px 15px 52px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

#appeal-img {
    width: 96px;
    height: 125px;
    margin: 40px 77px 26px 77px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.support-bottom {
    background-color: black;
    border-radius: 15px;
}

.support-bottom p {
    color: white;
    padding: 20px;
}

.support-bottom button {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
}